$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin xd-line-height($font-size, $line-height, $offset-top, $offset-bottom) {
  margin-top: -($line-height - $font-size)/2 + $offset-top;
  margin-bottom: -($line-height - $font-size)/2 + $offset-bottom;
}
